

.form{
	text-align: center;
	line-height:1.6em;

}

body{
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	color: #666666;
	margin-left: 10%;
	margin-right: 10%;
	font-size: small;
}